.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1200px)); /* Define 4 colunas fixas */
    justify-items: center;
    gap: 20px;
    padding: 10px;
    max-width: 1600px;
    margin: auto;
}

.grid-item {
    width: 220px;
    height: 200px;
    border-radius: 10px;
    aspect-ratio: 1;
    border: solid;
    border-color: black;
    background-color: aqua;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; 
    background-position: center; 
    background-image: url(images/caveira.png);
}

.grid-item[data-virada="1"] {
    background-size: cover;
    background-position: center;
}

.grid-item:hover{
    background-color: rgb(44, 173, 173); 
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

body {
    background-image: url(images/Wallpaper.jpg);
    background-size: cover;
    background-position: center; 
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    text-align: center;
    margin: 10px;
}

.contagem {
    position: absolute;
    top: 20px; 
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

#movimentos {
    top: 85px;
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(150px, 1fr)); /* Define 3 colunas */
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Define 2 colunas */
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, minmax(150px, 1fr)); /* Define 1 colunas */
    }
}
